.background {
  position: relative;
  min-height: 100vh;
  max-height: 100%;
  overflow: hidden;
}

.background::before {
  content: '';
  position: absolute;
  top: -60px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  background: url('/pattern.svg') repeat;
  background-size: 100px 150px;
  z-index: -1;
}

.noContacts {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.loading {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 121px;
}
