.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.blockBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItem {
  display: flex;
  gap: 5px;
}

.icon {
  fill: var(--cardinal);
}

.button {
  padding: 5px 5px;
  margin-left: 10px;
}

.phoneLink {
  color: var(--cardinal);
  font-family: var(--font-family);
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .contact {
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) {
  .blockBtn {
    flex-direction: row;
  }
  .button {
    padding: 5px 15px;
  }
}
