.containerForm {
  padding-top: 60px;
  text-align: center;
}

.block {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid var(--botdeaux);
  border-radius: 5px;
  padding: 25px 10px;
  background-color: var(--lulu);
  box-shadow: var(--botdeaux) 0px 4px 12px;
}

.title {
  margin-bottom: 15px;
  font-size: 30px;
}
