.block {
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid var(--botdeaux);
  border-radius: 5px;
  padding: 25px 15px;
  background-color: var(--lulu);
  box-shadow: var(--botdeaux) 0px 4px 12px;
}

.regTitle {
  margin-bottom: 15px;
  text-align: center;
}

.buttonForm {
  display: inline-flex;

  padding: 10px 25px;
  border-radius: 5px;
  font-size: 15px;
}

.link {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.linkreg {
  color: inherit;
  font-weight: 700;
}

.linkreg:hover {
  color: var(--light-cardinal);
}

.passwordContainer {
  position: relative;
}

.passwordStrength {
  position: absolute;
  top: 0;
  right: 0;
}

.strengthBar {
  font-size: 14px;
}

.strength0 {
  color: #c10202;
}

.strength1 {
  color: #c27800;
}

.strength2 {
  color: #c9a101;
}

.strength3 {
  color: #39ab00;
}

.strength4 {
  color: #006200;
}
